* {
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1, h2, h3, p {
    margin: 0;
}
body {
    height: 100%;
    margin: 0 auto;
    background-color: #E1D4C9;
}
header {
    margin: 20px 0;
}
.container {
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    position: relative;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.logo__circle {
    position: absolute;
    top: 6px;
    left: 31px;
    z-index: 1;
}
.logo__written {
    position: absolute;
    fill: transparent;
    top: 12.5px;
    left: 4px;
    z-index: 5;
}
.logo__coffee {
    position: absolute;
    top: 48px;
    left: 17.5px;
    z-index: 5;
}
.logo__written path {
    transition: fill .2s linear;
}
.logo__coffee path {
    transition: fill .2s linear;
}
.header__logo:hover .logo__written path {
    fill: #665F55;
}
.header__logo:hover .logo__coffee path {
    fill: #B0907A;
}

.header__list {
    display: flex;
    gap: 40px;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.nav__link {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
    gap: 40px;
}
.nav__link::before {
    position: absolute;
    content: "";
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: #403F3D;
    opacity: 0;

    transition: opacity .2s linear;
}
.nav__link:hover:before {
    opacity: 1;
}
.cup__menu {
    margin-left: 3px;
    margin-bottom: -2px;
}
.burger {
    position: relative;
    width: 44px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 50%;
    cursor: pointer;
}
.burger:before, .burger:after {
    position: absolute;
    content: "";
    background-color: #665F55;
    width: 16px;
    height: 2px;
    left: 14px;

    transition: all .5s ease 0s;
}
.burger:before {
    top: 35%;
}
.burger::after {
    bottom: 35%;
}
.burger {
    display: none;
}
.burger__menu {
    position: absolute;
    opacity: 0;
}

.enjoy__inner {
    position: relative;
    height: 644px;
    padding: 100px;
}
.enjoy__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
}
.enjoy__primary {
    display: flex;
    flex-direction: column;
    width: 530px;
}
.enjoy__title {
    color: #E1D4C9;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}
.enjoy__title-brown {
    color: #B0907A;
    font-style: italic;
}
.enjoy__text {
    color: #E1D4C9;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 40px 0 62px 0;
}
.enjoy__button {
    padding: 20px 55px 20px 78px;
    background-color: #E1D4C9;
    text-decoration: none;
    border-radius: 100px;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.cup__enjoy {
    margin-bottom: -3px;
    opacity: 0;

    transition: opacity .2s linear;
}
.enjoy__button:hover .cup__enjoy {
    opacity: 1;
}



.favorite {
    margin: 100px 0;
}
.favorite__title, .about__title {
    color: #403F3D;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
}
.favorite__title {
    text-align: center;
}
.favorite__title-brown, .about__title-brown {
    color: #B0907A;
    font-style: italic;
}
.favorite__inner {
    display: flex;
    justify-content: space-between;
}
.favorite__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favorite__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 480px;
    height: 480px;
}
.choice__img-1 {
    background-image: url("./img/png/coffee-slider-1.png");
}
.choice__img-2 {
    background-image: url("./img/png/coffee-slider-2.png");
}
.choice__img-3 {
    background-image: url("./img/png/coffee-slider-3.png");
}
.choice__name {
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-top: 20px;
}
.choice__text {
    max-width: 480px;
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin: 16px 0;
}
.choice__price {
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite__right, .favorite__left {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid #665F55;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    margin-bottom: 45px;
    z-index: 200;

    transition: background-color .2s linear;
}
.favorite__right {
    margin-right: 2px;
}
.favorite__left {
    margin-left: 2px;
}
.favorite__right:hover {
    background-color: #665F55;
}
.favorite__left:hover {
    background-color: #665F55;
}
.favorite__right path {
    transition: stroke .2s linear;
}
.favorite__right:hover path {
    stroke: #E1D4C9;
}
.favorite__left path {
    transition: stroke .2s linear;
}
.favorite__left:hover path {
    stroke: #E1D4C9;
}
.choice__progress {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}
.progress__item {
    position: relative;
    flex: 0 0 40px;
    width: 40px;
    height: 4px;
    background-color: #C1B6AD;
    border-radius: 100px;
}
/* .progress__item.active {
    background-color: #665F55;
} */
.progress__item.active .progress__animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #665F55;
    z-index: 55;
    animation: moving;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes moving{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

/* carousel */
.item__container {
    display: flex;
}
.carousel {
    position: relative;
    width: 480px;
    height: 640px;
    /* border: 1px solid red; */
    overflow: hidden;
}
.item__container {
    position: absolute;
    top: 0;
    left: -480px;
    height: 640px;
    /* border: 1px solid blue; */

}
.favorite__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 640px;
    cursor: pointer;
}
.item__container.smooth {
    transition: left 1s ease-out;
}


.about__photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    height: 1060px;
}
.photo1, .photo4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 726px;
    max-width: 660px;
    height: 590px;
    border-radius: 20px;
    /* border: 1px solid red; */

    transition: background-size .2s linear;
}
.photo1 {
    background-image: url("./img/jpg/about-1.jpeg");
 }
 .photo4 {
    background-image: url("./img/jpg/about-4.jpeg");
 }
 .photo2, .photo3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 726px;
    max-width: 660px;
    height: 430px;
    border-radius: 20px;

    transition: background-size .2s linear;
}
.photo2 {
    background-image: url("./img/jpg/about-2.jpeg");
}
.photo3 {
    background-image: url("./img/jpg/about-3.jpeg");
}
.photo1:hover {
    background-size: 660px;
}
.photo2:hover {
    background-size: 660px;
}
.photo3:hover {
    background-size: 660px;
}
.photo4:hover {
    background-size: 660px;
}


.mobile__inner {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    gap: 30px;
}
.mobile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 630px;
}
.mobile__photo {
    background-image: url("./img/png/mobile-screens.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 630px;
    height: 630px;
}
.mobile__text {
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}
.mobile__buttons {
    display: flex;
    gap: 20px;
}
.mobile__button {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    border: 1px solid #665F55;
    border-radius: 100px;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;

    transition: background-color .2s linear, color .2s linear;
}
.mobile__column {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.mobile__column-small {
    font-size: 10px;
    line-height: 140%;
}
.mobile__button:hover {
    background-color: #665F55;
    color: #E1D4C9;
}
.mobile__button path {
    transition: fill .2s linear;
}
.mobile__button:hover path {
    fill: #E1D4C9;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    gap: 100px;
    border-radius: 40px;
    background-color: #665F55;
}
.footer__message {
    width: 50%;
}
.footer__contact {
    width: 50%;
}
.about__title-footer {
    color: #E1D4C9;
}
.footer__social {
    display: flex;
    gap: 12px;
}
.footer__circle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #E1D4C9;
    border-radius: 100px;

    transition: background-color .2s linear;
}
.footer__circle path {
    transition: stroke .2s linear;
}
.footer__circle:hover path {
    stroke: #403F3D;
}
.footer__circle:hover {
    background-color: #E1D4C9;
}
.choice__name-footer {
    color: #E1D4C9;
    margin-bottom: 40px;
    margin-top: 30px;
}
.contact__info {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #E1D4C9;
    padding-left: 28px;
}
.contact__info.link {
    position: relative;
}
.contact__info.link::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #E1D4C9;
    opacity: 0;

    transition: opacity .2s linear;
}
.contact__info.link:hover:before {
    opacity: 1;
}

.location svg, .telephone svg, .duty svg {
    margin-right: -24px;
    margin-bottom: 1px;
}
.telephone {
    margin: 17px 0 16px 0;
}



/* media queries*/

@media (max-width: 768px) {
    /* burger cross*/
    .burger.active:before {
        transform: rotate(45deg);
        top: 48%;
    }
    .burger.active::after {
        transform: rotate(-45deg);
        bottom: 48%;
    }
    .burger.active {
        display: block;
    }
    /* burger menu active */
    .burger__menu {
        right: -100%;
        width: 100vw;
        height: 100vh;
        background-color: #E1D4C9;
        z-index: 100;
    
        transition: all .5s ease 0s;
    }
    .burger__menu.active {
        right: 0;
        opacity: 1;
    }
    .header__list-burger {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        margin-top: 80px;
    }
    .header__list-burger li:last-child {
        margin-top: 40px;
    }
    .cup__menu-burger {
        margin-left: 9px;
        margin-bottom: -9px;
    }
    .header__list-burger .nav__link {
        font-size: 32px;
        line-height: 125%;
    }


    .container {
        max-width: 688px;
    }
    .burger {
        display: flex;
    }
    .enjoy__inner {
        height: auto;
        padding: 100px 60px 120px 60px;
    }
    .enjoy__button {
        padding: 20px 65px 20px 65px;
    }
    .cup__enjoy {
        opacity: 1;
        margin-left: 3px;
    }
    .photo2, .photo3 {
        display: none;
    }
    .photo1, .photo4 {
        max-width: 688px;
    }
    .about__photo {
        height: 1220px;
    }
    .photo1:hover {
        background-size: 688px;
    }
    .photo4:hover {
        background-size: 688px;
    }
    .mobile__inner {
        flex-wrap: wrap;
        gap: 100px;
    }
    .mobile__info {
        width: auto;
    }
    .mobile__photo {
        margin: 0 auto;
    }
    .footer__inner {
        padding: 100px 60px;
        flex-direction: column;
    }
    .footer__message {
        width: auto;
    }
    .choice__name-footer {
        margin-top: 1px;
    }
    .mobile__buttons {
        flex-wrap: wrap;
    }
    .enjoy__primary {
        width: auto;
    }
    .header__nav, .nav__link.underline {
        display: none;
    }
    .choice__text {
        width: auto;
    }
    .footer__contact {
        width: auto;
    }
    .telephone {
        margin: 17px 0 18px 0;
    }
    .choice__name-footer {
        margin-bottom: 36px;
    }
    .duty {
        margin-bottom: 3px;
    }

    /* hover */
    
    .header__logo:hover .logo__written path {
        fill: #403F3D;
    }
    .header__logo:hover .logo__coffee path {
        fill: #403F3D;
    }
    .favorite__right:hover {
        background-color: transparent;
    }
    .favorite__left:hover {
        background-color: transparent;
    }
    .favorite__right:hover path {
        stroke: #403F3D;
    }
    .favorite__left:hover path {
        stroke: #403F3D;
    }
    .photo1:hover {
        background-size: 726px;
    }
    .photo4:hover {
        background-size: 726px;
    }
    .mobile__button:hover {
        background-color: transparent;
        color: #403F3D;
    }
    .mobile__button:hover path {
        fill: #403F3D;
    }
    .footer__circle:hover path {
        stroke: #E1D4C9;
    }
    .footer__circle:hover {
        background-color: transparent;
    }
    .contact__info.link:hover:before {
        opacity: 0;
    }
    

}

@media (max-width: 390px) {
    .enjoy__inner {
        padding-left: 50px;
    }
}
@media (max-width: 605px) {
    .choice__img {
        width: 255px;
        height: 255px;
    }
}

@media (max-width: 380px) {
    .container {
        max-width: 348px;
    }
    .enjoy__title {
        font-size: 42px;
        line-height: 115%;
    }
    .enjoy__inner {
        padding: 60px 16px 80px 16px;
    }
    .enjoy__text {
        margin-bottom: 59px;
    }
    .favorite__title {
        font-size: 32px;
    }
    /* carousel */
    .favorite__item {
        width: 348px;
    }
    .carousel {
        width: 348px;
    }
    .item__container {
        left: -348px;
    }

    
    .choice__img {
        width: 348px;
        height: 348px;
    }
    .arrow {
        display: none;
    }
    .about__title {
        font-size: 32px;
    }
    .mobile__inner {
        gap: 40px;
    }
    .mobile__photo {
        width: 348px;
        height: 348px;
    }
    .footer__inner {
        padding: 60px 16px;
    }
    .footer__inner {
        gap: 40px;
    }
    

}




